<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Loco | Register</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav id="navbar">
            <div class="container">
                <h1 class="logo"><a href="/">Hotel LOCO</a></h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a class="current" href="/login">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <Section>
        <div class="form-style">
            <form action="/register" method="POST">
                <fieldset>
                    <legend>Sign Up</legend>
                    <input type="text" name="username" placeholder="Your UserName ">
                    <input type="email" name="email" placeholder="Your Email ">
                    <input type="password" name="password" placeholder="Create A Password">
                    <input type="password" name="confirmPassword" placeholder="Confirm Your Password">
                    <p>You Have An Account? <a href="/login">Login</a></p>
                </fieldset>
                <input type="submit" value="Register" />
                <% if (typeof error !=='undefined' ) { %>
                    <p
                        style="color: red; text-align: center; border: 2px solid red; border-radius: 5px; background-color: white;">
                        <%= error %>
                    </p>
                    <% } %>
            </form>
        </div>
    </Section>
    <div class="clr"></div>
    <footer id="main-footer">
        <p>Hotel LOCO &copy; 2024 By Mohammed Sbaiti & Ait Hssaine Mohamed</p>

    </footer>
</body>

</html>